/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
/* COMMON */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 65%;
    margin: 0 auto;
    max-width: 1400px;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}
/* HEADER */

header {
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    padding-bottom: .5rem;
    font-size: 1rem;
}

.header-nav {
    padding: 1rem 0;
    align-items: center;
    background-color: rgb(37 94 233);;
}

.header-logo,
.link,
.login {
    padding: 0.5rem;
}

/* Navbar */

.link {
    flex-grow: 1;
    justify-content: center;
    gap: 3rem;
}

/* Login */

.login {
    color: black;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

/* First section / Hero */

.hero {
    padding: 8rem 0;
}

.hero-content, 
.link-content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 2rem;
}


.hero .center {
    gap: 2rem;
}

/* Buttons with link */

.link-content,
.download2 {
    padding: 1rem;
    font-size: 1.2rem;
}

.download, 
.discord-browser,
.download2 {
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.download {
    color: black;
    background-color: white;
}

.discord-browser {
    color: white;
    background-color: black;
}

.arrow {
    font-size: 2rem;
    line-height: 0;
}
/* MAIN */

/* Content Section */

.content {
    margin-top: 6rem;
    padding-top: 2rem;
}

.big-content {
    width: 65%;
}

.big-content img {
    width: 100%;
}

.small-content {
    width: 35%;
    text-align: left;
    padding-top: 2rem;
}

.content h2 {
    font-size: 3.3rem;
}

.content p {
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}

/* Gray Section */

.gray-section, 
.last-gray-section {
    background-color: rgb(246 246 246);
}

/* Last section */
 .last-gray-section {
    text-align: center;
    padding-bottom: 4rem;
 }

 .big-img {
    width: 100%;
 }

 .content h3 {
    font-size: 2rem;
 }

 .download2 {
    margin: 3rem auto 5rem;
    width: fit-content;
    color: white;
    background-color: rgb(114 137 218);
 }

/* FOOTER */

footer {
    background-color: rgb(35 39 42);
}

.footer-top {
    padding: 5rem 0 0;
    text-align: left;
}

.left-footer {
    width: 25%;
}

.right-footer {
    width: calc(75% / 4);
    color: white;
}

.footer-top h3 {
    color: rgb(114 137 218);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.left-footer p {
    color: white;
    display: inline-block;
}

.logoita {
    vertical-align: middle;
    width: 2rem;
}

.right-footer h4 {
    color: rgb(114 137 218);
}

.right-footer li,
.right-footer h4 {
    padding-bottom: 1.2rem;
}

hr {
    border: 1px solid rgb(114 137 218);
}

/* Footer2 with logo and buttons */

.footer-bottom { 
    padding: 1rem 0 3rem;
    justify-content: space-between;
    align-items: center;
}

.registration {
    color: white;
    background-color: rgb(114 137 218);
    border-radius: 2rem;
    padding: .5rem;
}